body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: #faca53;
    border-radius: 5px;
}
footer{
    background-color: #faca53;
}
nav{
    background-color: #faca53;
}
#img-logo{
    width: 100px;
    height: 100px;
}
#social-btn a{
    transition: 0.5s;
}
#social-btn a:hover{
    color: white;
    transform: scale(1.5);
    text-shadow: 0.5px 0.5px 2px black;
}
@media(max-width: 575.98px){
    ul li{
        font-size: small;
    }
}
#btn-lan{
    
    background-color: #faca53;
    transition: 0.5s;
}
#btn-lan:hover{
    background-color: #000000;
    color: white;  
}